<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thememeteam.com.yummycrummyapp4" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="thememeteam.com.yummycrummyapp4.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="thememeteam.com.yummycrummyapp5.Login_Activity"
            android:label="@string/title_activity_login_" >
            <intent-filter>
                <action android:name="thememeteam.com.yummycrummyapp4.Login_Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="thememeteam.com.yummycrummyapp5.CreateNewAccount"
            android:label="@string/title_activity_create_new_account" >
            <intent-filter>
                <action android:name="thememeteam.com.yummycrummyapp4.CreateNewAccount" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="thememeteam.com.yummycrummyapp5.HomeScreen"
            android:label="@string/title_activity_home_screen" >
            <intent-filter>
                <action android:name="thememeteam.com.yummycrummyapp4.HomeScreen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="thememeteam.com.yummycrummyapp5.AddProfile"
            android:label="@string/title_activity_add_profile" >
            <intent-filter>
                <action android:name="thememeteam.com.yummycrummyapp4.AddProfile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="thememeteam.com.yummycrummyapp5.ViewEditProfile"
            android:label="@string/title_activity_view_edit_profile" >
            <intent-filter>
                <action android:name="thememeteam.com.yummycrummyapp4.ViewEditProfile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="thememeteam.com.yummycrummyapp5.ViewEditProfile2"
            android:label="@string/title_activity_view_edit_profile2" >
            <intent-filter>
                <action android:name="thememeteam.com.yummycrummyapp4.ViewEditProfile2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="thememeteam.com.yummycrummyapp5.LookUpRestaurant"
            android:label="@string/title_activity_look_up_restaurant" >
            <intent-filter>
                <action android:name="thememeteam.com.yummycrummyapp4.LookUpRestaurant" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="thememeteam.com.yummycrummyapp5.UserSettings"
            android:label="@string/title_activity_user_settings" >
            <intent-filter>
                <action android:name="thememeteam.com.yummycrummyapp4.UserSettings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
